@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}
html{
  background-image: url(http://www.topoboi.com/pic/201307/1920x1080/topoboi.com-6015.jpg);
}
header{
  width: 60%;
  height: 50px;
  background-color: #CAE6EF;
  padding: 10px;
  font-size: 1.2em;
  color: #0A0A0A;
  margin-left:20%;
  border-radius: 50px;
}
h2{
  visibility: visible;
  animation: animaciya 5s infinite;
  animation-direction: alternate;
}
@keyframes animaciya {
  0%, 1% {opacity: 0;}
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 1%;
  border-top: 2px solid silver;
  margin-top: 10px;
  margin-top: 25%;
}
.in{
  width: 100%;
  margin-top: 10%;
}
.contact{
  float: right;
  margin-right: 10%;
}
